---
http_interactions:
- request:
    method: post
    uri: https://app.datashake.com/api/v2/profiles/add?blocks=50&callback=https%3A%2F%2Fapp.reviewcompany.com%2Fdatashake_callback&diff=346998052&external_identifier=qwerty123&from_date=2021-01-01&url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB003YH9MMI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      spiderman-token:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5c3e7a8de73b1657c5239d67636b9456"
    body:
      encoding: UTF-8
      string: '{"success":true,"job_id":347560429,"status":200,"message":"Added this
        profile to the queue..."}'
  recorded_at: Wed, 06 Apr 2022 13:48:46 GMT
recorded_with: VCR 6.1.0
