---
http_interactions:
- request:
    method: post
    uri: https://app.datashake.com/api/v2/profiles/add_bulk
    body:
      encoding: UTF-8
      string: '[{"url":"https://www.homeaway.com/vacation-rental/p4494671","callback":"https://app.reviewcompany.com/datashake_callback","from_date":"2021-01-01"},{"query":"I-80
        Towing & Service, 1209 S 3rd St, Laramie, WY 82070, USA","callback":"https://app.reviewcompany.com/datashake_callback","blocks":"10"}]'
    headers:
      spiderman-token:
      - abdecf
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0329b501c977c1cbe7de39020a014833"
    body:
      encoding: UTF-8
      string: '[{"url":"https://www.homeaway.com/vacation-rental/p4494671","callback":"https://app.reviewcompany.com/datashake_callback","from_date":"2021-01-01","success":true,"job_id":348534142,"status":200,"message":"Added
        this profile to the queue..."},{"query":"I-80 Towing \u0026 Service, 1209
        S 3rd St, Laramie, WY 82070, USA","callback":"https://app.reviewcompany.com/datashake_callback","blocks":"10","success":true,"job_id":348534143,"status":200,"message":"Added
        this profile to the queue..."}]'
  recorded_at: Fri, 08 Apr 2022 05:53:33 GMT
recorded_with: VCR 6.1.0
