---
http_interactions:
- request:
    method: post
    uri: https://app.datashake.com/api/v2/profiles/add?url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB003YH9MMI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      spiderman-token:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ee68db592e8dc129a5464f959ea7ee4"
    body:
      encoding: UTF-8
      string: '{"success":true,"job_id":346998052,"status":200,"message":"Added this
        profile to the queue..."}'
  recorded_at: Tue, 05 Apr 2022 11:32:05 GMT
recorded_with: VCR 6.1.0
