---
http_interactions:
- request:
    method: get
    uri: https://app.datashake.com/api/v2/profiles/jobs/3485341434638423
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      spiderman-token:
      - abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"233dbab87821fa774ed9efb2fb416853"
    body:
      encoding: UTF-8
      string: '{"success":false,"status":400,"job_id":"3485341434638423","message":"This
        job ID doesn''t exist, please create it"}'
  recorded_at: Wed, 13 Apr 2022 11:45:44 GMT
recorded_with: VCR 6.1.0
