---
http_interactions:
- request:
    method: get
    uri: https://app.datashake.com/api/v2/profiles/jobs?crawl_status=complete&from_created_at=2022-01-01&page=2&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      spiderman-token:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2dd91d117b1e0504e11949d8fe13e749"
    body:
      encoding: UTF-8
      string: '{"jobs":[{"job_id":346998013,"url":"https://www.amazon.com/dp/B003YH9MMI","place_id":null,"status":"complete","last_crawl":"2022-04-05","from_date":null,"blocks":null,"diff":null,"credits_used":138,"created_at":"2022-04-05"}],"total":3,"per_page":2,"page":2}'
  recorded_at: Thu, 07 Apr 2022 08:09:30 GMT
recorded_with: VCR 6.1.0
