---
http_interactions:
- request:
    method: post
    uri: https://app.datashake.com/api/v2/profiles/add?blocks=50&callback=https%3A%2F%2Fapp.reviewcompany.com%2Fdatashake_callback&diff=346998052&external_identifier=qwerty123&force_crawl=true&from_date=2022-02-01&priority_job=true&url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB003YH9MMI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      spiderman-token:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"373f01bf411ef47e85b5aaa089c2554f"
    body:
      encoding: UTF-8
      string: '{"success":true,"job_id":348535659,"status":200,"message":"Added this
        profile to the queue..."}'
  recorded_at: Fri, 08 Apr 2022 06:09:44 GMT
recorded_with: VCR 6.1.0
