---
http_interactions:
- request:
    method: post
    uri: https://app.datashake.com/api/v2/profiles/add?place_id=ChIJr5dFzfKAhYARj99B34yuZOw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      spiderman-token:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b05b6a82f207ef2e6b6c15de9cb48b33"
    body:
      encoding: UTF-8
      string: '{"success":true,"job_id":44125,"status":200,"message":"Added this profile
        to the queue..."}'
  recorded_at: Tue, 05 Apr 2022 11:23:34 GMT
recorded_with: VCR 6.1.0
