---
http_interactions:
- request:
    method: get
    uri: https://app.datashake.com/api/v2/profiles/reviews?job_id=349179093
    body:
      encoding: US-ASCII
      string: ''
    headers:
      spiderman-token:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"16dff5b4b72676a39114addc3ff8b45c"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":200,"job_id":349179093,"source_url":"Cafe
        Grumpy - Grand Central Terminal","source_name":"google","place_id":"ChIJPVwsIAJZwokRZwG7oezgams","external_identifier":null,"meta_data":"{\"address\":\"89
        E 42nd St, New York, NY 10017\",\"name\":\"Cafe Grumpy - Grand Central Terminal\"}","unique_id":"ChIJPVwsIAJZwokRZwG7oezgams","review_count":550,"average_rating":4.4,"last_crawl":"2022-04-09","crawl_status":"complete","percentage_complete":100,"result_count":550,"credits_used":560,"from_date":null,"blocks":null,"reviews":[{"id":5799839776,"name":"alicemariamurphy","date":"2022-04-07","rating_value":5.0,"review_text":"Good coffee, long lines","url":"https://www.google.com/maps/contrib/0550898390948/place/JZwokRZwG7oezgams","profile_picture":"https://lh3.googleusercontent.com/a-/YFSPGPFgjDMQ=s240-c-c-br100","location":null,"review_title":null,"verified_order":false,"reviewer_title":null,"language_code":null,"unique_id":"109955990550898390948","meta_data":null,"response":{"id":419632310,"name":"Response from the owner","date":"2021-11-11","comment":"Thank you Denise!"}}]}'
  recorded_at: Sat, 09 Apr 2022 12:09:05 GMT
recorded_with: VCR 6.1.0
