---
http_interactions:
- request:
    method: get
    uri: https://app.datashake.com/api/v2/profiles/info?job_id=348548418
    body:
      encoding: US-ASCII
      string: ''
    headers:
      spiderman-token:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3df33a4d562c86d998d49ccbe99b05ef"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":200,"job_id":348548418,"source_url":"https://www.amazon.com/dp/B003YH9MMI","source_name":"amazon","place_id":null,"external_identifier":"123","meta_data":"{\"star_ratings\":{\"1star\":\"1%\",\"2star\":\"4%\",\"3star\":\"7%\",\"4star\":\"27%\",\"5star\":\"61%\"}}","unique_id":null,"review_count":214,"average_rating":4.4,"last_crawl":"2022-04-08","crawl_status":"complete","percentage_complete":100,"result_count":0,"credits_used":8,"from_date":"2022-02-01","blocks":10}'
  recorded_at: Fri, 08 Apr 2022 07:35:39 GMT
recorded_with: VCR 6.1.0
