---
http_interactions:
- request:
    method: get
    uri: https://app.datashake.com/api/v2/profiles/info?job_id=410391486
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      spiderman-token:
      - abcdef
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4cb257df5913c6599ba9c8526dd4072b"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":200,"job_id":410391486,"source_url":"https://www.lawyers.com/fadfadfdasfa","source_name":"lawyers","place_id":null,"external_identifier":"123","meta_data":null,"unique_id":null,"review_count":null,"average_rating":null,"last_crawl":null,"crawl_status":"maintenance","percentage_complete":0.0,"result_count":0,"credits_used":8,"from_date":null,"blocks":null}'
  recorded_at: Tue, 13 Sep 2022 07:25:13 GMT
recorded_with: VCR 6.1.0
