---
http_interactions:
- request:
    method: get
    uri: https://reviewindexapi.datashake.com/profiles?api_key=abcdef&callback=https%3A%2F%2Fxmpl.com%2Fcb&name=KFC
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"User unauthorized.","request_id":"1665653660892720510-bd517280-8d39-49","credits_used":0,"details":"Please
        make sure your API key is valid and then retry the request.","request":{}}'
  recorded_at: Thu, 13 Oct 2022 09:34:21 GMT
recorded_with: VCR 6.1.0
