---
http_interactions:
- request:
    method: get
    uri: https://reviewindexapi.datashake.com/profiles?api_key=abcdef&callback=https%3A%2F%2Fxmpl.com%2Fcb&name=KFC&page_number=2&per_page=1&update=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Bad request","request_id":"1665753148165467302-31144631-c5bb-47","credits_used":0,"details":"Using
        update on pagination is not allowed.","request":{}}'
  recorded_at: Fri, 14 Oct 2022 13:12:28 GMT
recorded_with: VCR 6.1.0
