---
http_interactions:
- request:
    method: get
    uri: https://reviewindexapi.datashake.com/update/status?api_key=abcdef&request_id=1666354438254572526-6871ffd1-d7e4-48
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":"1666354438254572526-6871ffd1-d7e4-48","created_at":"2022-10-21T12:13:58","completeness_rate":0.0,"success_rate":0.0,"status":"FAILED","size":0}'
  recorded_at: Fri, 21 Oct 2022 14:36:03 GMT
recorded_with: VCR 6.1.0
