---
http_interactions:
- request:
    method: get
    uri: https://reviewindexapi.datashake.com/reviews?api_key=abcdef&name=KFC
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Bad request","request_id":"1665992599429782296-c36bba0f-b452-47","credits_used":0,"details":"Missing
        parameter. The following must be present: callback. Please make sure to provide
        this parameter and make the request again.","request":{}}'
  recorded_at: Mon, 17 Oct 2022 07:43:19 GMT
recorded_with: VCR 6.1.0
