---
http_interactions:
- request:
    method: get
    uri: https://reviewindexapi.datashake.com/reviews?api_key=abcdef&callback=https%3A%2F%2Fxmpl.com%2Fcb&name=KFC&page_number=2&per_page=1&update=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Bad request","request_id":"1665992601789179092-c95360f1-2daf-41","credits_used":0,"details":"Using
        update on pagination is not allowed.","request":{}}'
  recorded_at: Mon, 17 Oct 2022 07:43:22 GMT
recorded_with: VCR 6.1.0
